.container {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.item {
    text-align: center;
    border: 3px solid #fa6400;
    background-color: #fdd8b5;
}

.item-1 {
    /* Grid item egrid-row-ends at row line 3 */
    grid-row-end: 3;
    background-color: #00ffff;
}

.item-3 {
    /* Grid item egrid-row-ends at row line 6 */
    grid-row-end: 6;
    background-color: #00ffff;
}