.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    box-shadow: 0px 0.25rem 0.5rem #0000004d;
    background-color: #daffd5;

    .hamburger-menu {
        flex-shrink: 0;
        line-height: 0;

        img {
            height: 2.2rem;
        }
    }

    .search {
        margin-left: 1rem;
        position: relative;
        width: 36rem;

        input {
            border: 0.125rem solid #000000;
            border-radius: .3rem;
            padding: .5rem 1rem;
            font-size: 1rem;
            font-size: 1rem;
            color: #000000;
            width: 100%;
        }

        .search-items {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            color: #000000;
            max-height: calc(100vh - 4rem);
            overflow: auto;
            border-radius: 0.3rem;

            .search-item {
                overflow: hidden;

                .line {
                    margin: 0 0 0 .3rem;
                    border: none;
                    background-color: var(--mainBackgroundColor);
                    height: 0.13rem;
                    width: calc(100% - .6rem);
                }

                .button {
                    background-color: #b5c694;
                    border-radius: 0.3rem;
                    padding: .5rem 1rem;
                    text-align: left;

                    .title {
                        font-size: 1.25rem;
                    }

                    .content {
                        font-size: 1rem;
                        display: -webkit-box;
                        /* 1 Number of lines to show */
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                    &:hover {
                        background-color: #829460;
                    }
                }
            }
        }
    }

    .about-me {
        font-size: 1rem;
        font-weight: bold;
        color: #000000;
        flex-shrink: 0;
        margin-left: 1rem;

        &:hover {
            color: #3737ff;
        }
    }
}


@media (max-width: 481px) {
    .about-me {
        display: none;
    }
}