.container {
    display: grid;
    grid-template-rows: repeat(5, auto);
    /* Auto-placed items are positioned column by column */
    grid-auto-flow: dense;
}

.item-1,
.item-4,
.item-8,
.item-11,
.item-15,
.item-19,
.item-20 {
    grid-column: span 1;
}

.item-5,
.item-9,
.item-12,
.item-14,
.item-17 {
    grid-column: span 2;
}

.item-6,
.item-7,
.item-10,
.item-13,
.item-16,
.item-18,
.item-9 {
    grid-column: span 3;
}

.item-2,
.item-3 {
    grid-column: span 4;
}



.item {
    text-align: center;
    border: 3px solid #fa6400;
    background-color: #fdd8b5;
}