.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 30px);
    /* Auto-placed items are positioned row by row (default behavior) */
    grid-auto-flow: row;
}

.item {
    text-align: center;
    border: 3px solid #fa6400;
    background-color: #fdd8b5;
}