.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Sets the height of implicitly created rows to 50px */
    grid-auto-rows: 50px;
}

.item {
    text-align: center;
    border: 3px solid #fa6400;
    background-color: #fdd8b5;
}