<div class="heading-font font-load">
  font load
</div>
<div class="outer-wrap">
  <div class="loader" [ngStyle]="{ display: mainLoader ? 'flex' : 'none' }">
    <img src="assets/images/loader/loader-green.svg" alt="loader" />
  </div>
  <div class="container" [ngStyle]="{ display: mainLoader ? 'none' : 'flex' }">
    <header #headerElement class="main-header">
      <app-header (clickHamburgerIcon)="clickHamburgerIcon()" (clickedSearchItem)="clickedMenu()"></app-header>
    </header>
    <div class="content" [ngClass]="{'open':openMenu}">
      <nav class="menu web-menu">
        <div class="menu-inner">
          <app-menu [gridTutorialList]="gridTutorialList"
            (clickedMenu)="clickedMenu(); scrollToTop('.grid-toturial-section')">
          </app-menu>
        </div>
      </nav>
      <nav class="menu menu-mobile">
        <div class="menu-inner">
          <app-menu [gridTutorialList]="gridTutorialList"
            (clickedMenu)="clickedMenu(); scrollToTop('.grid-toturial-section')">
          </app-menu>
        </div>
      </nav>
      <div class="page">
        <div class="main-content-loader" [ngStyle]="{ display: mainPageLoader ? 'flex' : 'none' }">
          <img src="assets/images/loader/loader-green.svg" alt="loader" />
        </div>
        <div class="page-content">
          <main class="main-content">
            <div>
              <router-outlet></router-outlet>
            </div>
          </main>
          <footer class="main-footer">
            <app-footer></app-footer>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>