.outer-wrap {
  position: relative;
  height: 100vh;

  .loader {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .main-header {
      flex-shrink: 0;
      position: relative;
      z-index: 1;
    }

    .content {
      flex-grow: 1;
      overflow: auto;
      display: flex;
      $manuWidth: 12rem;

      .menu {
        width: $manuWidth;
        background-color: grey;
        height: 100%;
        overflow: auto;
      }

      .page {
        width: calc(100% - $manuWidth);
        height: 100%;

        .main-content-loader {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          align-items: center;
          justify-content: center;
          z-index: 20;
          background-color: var(--mainBackgroundColor);
        }

        .page-content {
          height: 100%;
          display: flex;
          flex-direction: column;
          position: relative;
          overflow: auto;

          .main-content {
            flex-grow: 1;
            padding: 2rem var(--mainPageSidePadding) 3rem;
          }

          .main-footer {
            flex-shrink: 0;
          }
        }
      }
    }
  }
}