$editorColor: #1e1e1e;

@mixin editor-heading-text {
  display: block;
  padding: .5rem;
  color: #9acd32;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  background-color: black;
}

.editor-wrapper {
  position: relative;
  background-color: $editorColor;
  border-radius: .3rem .3rem 0 0;

  .editor-top {
    display: flex;
    align-items: center;

    span {
      width: 50%;
      @include editor-heading-text();
    }
  }

  .editor {
    display: flex;
    flex-wrap: wrap;

    ngx-monaco-editor {
      width: 50%;
    }

    .editor-title-middle {
      display: none;
    }
  }

  .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: fit-content;
    height: fit-content;
    z-index: 20;
  }
}

.output {
  .output-heading {
    background: #000000;
    text-transform: uppercase;
    @include editor-heading-text();
  }

  .code-output {
    overflow-x: auto;

    iframe {
      width: 100%;
    }
  }
}


@media (max-width: 991px) {
  .editor-wrapper {
    .editor-top {
      .html {
        width: 100%;
      }

      .css {
        display: none;
      }
    }

    .editor {
      ngx-monaco-editor {
        width: 100%;
      }

      .editor-title-middle {
        display: block;
        width: 100%;
        @include editor-heading-text();
      }
    }
  }
}