.top-color {
    height: 1rem;
    background-color: #1e1e1e;
}

.editor {
    display: flex;

    ngx-monaco-editor {
        width: 50%;
    }
}

.code-output {
    width: 100%;
    height: 260px;
}