<div class="editor-wrapper">
  <div class="editor-top">
    <span class="html">
      HTML
    </span>
    <span class="css">
      CSS
    </span>
  </div>
  <div class="editor">
    <ngx-monaco-editor [options]="editorOptionsHtml" [(ngModel)]="gridTutorialCode.htmlCode"
      [ngStyle]="{height:(size?.editorHeight??250)+'px'}" (ngModelChange)="changeHtml($event)"
      (onInit)="editorOnInit()">
    </ngx-monaco-editor>
    <div class="editor-title-middle">
      CSS
    </div>
    <ngx-monaco-editor [options]="editorOptionsCss" [(ngModel)]="gridTutorialCode.cssCode"
      [ngStyle]="{height:(size?.editorHeight??250)+'px'}" (ngModelChange)="changeCss($event)" (onInit)="editorOnInit()">
    </ngx-monaco-editor>
    @if (editorLoader<0) { <div class="loader">
      <img src="assets/images/loader/loader-white.svg" alt="loader">
    </div>
    }
</div>
</div>
<div class="output">
  <span class="output-heading">
    Output
  </span>
  <div class="code-output">
    <iframe frameborder="0" [srcdoc]="outputCode"
      [ngStyle]="{'height':(size?.outputHeight??260)+'px', 'min-width':(size?.outputMinWidth??760)+'px'}"></iframe>
  </div>
</div>