.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.item {
    text-align: center;
    border: 3px solid #fa6400;
    background-color: #fdd8b5;
}

.item-2 {
    /* 
    Grid item starts at row line 3 and ends at row line 6
    Grid item starts at column line 2 and ends at column line 4
    */
    grid-area: 3 / 2 / 6 / 4;
}