.grid-toturial-section {
    .grid-toturial-content-list {
        padding-left: 0;
        margin-bottom: 0;

        .grid-toturial-content {
            list-style-type: none;
            margin-top: 4rem;

            .example-code-component {
                border: .3rem solid #12d412;
                border-radius: .5rem;
                background-color: white;
            }
        }
    }
}