<section class="grid-toturial-section" ngClass="toturial_scroll_{{currentGridTutorialList?.code}}"
  [ngStyle]="{display:slug=='404'?'none':'block'}">
  <h1 class="heading-font heading">
    {{ currentGridTutorialList?.heading }}
  </h1>
  @if (currentGridTutorialList?.description) {
  <p class="description" [innerHTML]="currentGridTutorialList?.description"></p>
  }
  @if (currentGridTutorialList?.content?.length) {
  <ul class="grid-toturial-content-list">
    @for (content of currentGridTutorialList?.content; track $index) {
    <li class="grid-toturial-content" ngClass="toturial_scroll_{{currentGridTutorialList?.code}}_{{content?.code}}">
      @if (content?.heading) {
      <hr class="devider">
      <h2 class="heading-font sub-heading">
        {{content.heading}}
      </h2>
      }
      @if (content?.description) {
      <p [innerHTML]="content?.description" class="description"></p>
      }
      @if (content?.code && gridTutorialCodeList[content?.code||''] && showEditor) {
      <div class="example-code-component">
        <app-run-example [gridTutorialCode]="gridTutorialCodeList[content?.code||'']"
          [size]="{editorHeight:content?.editorHeight, outputHeight:content?.outputHeight, outputMinWidth:content?.outputMinWidth}">
        </app-run-example>
      </div>
      }
      @if (content?.explain) {
      <p [innerHTML]="content?.explain" class="description">
      </p>
      }
    </li>
    }
  </ul>
  }
</section>
@if (slug=='404') {
<app-page-not-found></app-page-not-found>
}