/* You can add global styles to this file, and also import other style files */
:root {
    --mainBackgroundColor: #f8f8eb;
    --mainPageSidePadding: calc(.6rem + 1vw);
}

* {
    line-height: 1.4em;
    font-weight: normal;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition-duration: .3s;
}

button {
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
}

input {
    outline: none;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    li {
        list-style-type: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.heading-font {
    font-family: cursive;
    font-weight: bold;
}

html {
    font-size: calc(0.125vw + 13.6px); //responsive font size 16px for 1920px screen and 14px for 320px screen
    font-family: sans-serif;
    background-color: var(--mainBackgroundColor);

    body {
        margin: 0;
    }
}